@import '@/styles/variables';
@import '@/styles/mixins';

.content {
  display: flex;
  gap: 121px;
}

.photo {
  width: 479px;
  height: 410px;
  background-image: url('../../assets/img/main/photo1.jpg');
  border-radius: 10px;
}

.info {
  flex: 1;

  h3 {
    margin-bottom: 25px;
  }
}

.mission {
  margin-left: 100px;
  padding-left: 20px;
  border-left: solid 1px map-get($colors, black);
  width: 393px;
  h5{
    margin-bottom: 15px;
  }
}