@import '@/styles/variables';
@import '@/styles/mixins';

.reviewCard {
  border: 3px solid map-get($colors, grey);
  height: 468px;
  border-radius: 10px;
  padding: map-get($spacing-sizes, 30);
  overflow: hidden;
  background-color: map-get($colors, white);
}

.info {
  margin-bottom: map-get($spacing-sizes, 3);
  display: flex;
  gap: map-get($spacing-sizes, 3);

}

.reviewText {
  @include multi-truncate;
}

///////////////////////


.swiperWrapper {
  //position: relative;
  //padding-bottom: 80px; // место для стрелок и точек
}

.controls {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  //align-items: center;

  :global(.swiper-pagination) {
    position: static;

  }
}


.swiperButtonPrev,
.swiperButtonNext {
  cursor: pointer;
  padding: 6px;

  &:hover svg {
    fill: map-get($colors, white);
  }
}

.swiperPagination {
  //display: flex;
  gap: 10px;
  padding: 10px;
}

//
//.swiper-pagination {
//  display: flex;
//  justify-content: center;
//  gap: 8px;
//}
//
//.swiper-pagination-bullet {
//  width: 10px;
//  height: 10px;
//  background-color: #999;
//  border-radius: 50%;
//  opacity: 0.5;
//  transition: opacity 0.3s;
//}
//
//.swiper-pagination-bullet-active {
//  background-color: #333;
//  opacity: 1;
//}
