@import '@/styles/variables';
@import '@/styles/mixins';


.section {
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  gap: 1.375rem 4rem;
}

.cost {
  @include grid-columns();

  align-self: center;
  color: map-get($colors, red);

  h5 {
    margin: 0;
  }
}

.duration {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  img {
    flex-shrink: 0;
  }

  p {
    margin: 0;
  }
}

.mainText {
  display: grid;
  align-content: space-between;
  gap: 2rem;
}

.rightSide {
  display: grid;
  align-content: space-between;
  gap: 2rem;
}

.rightMiddle {
  display: grid;
  gap: 2rem;

}

.attractions {
  line-height: 150%;

  li {
    position: relative;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.7rem;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: map-get($colors, red);
    }
  }
}


.mainSlide {
  position: relative;
  aspect-ratio: 68 / 45;

  img {
    object-fit: cover;
  }
}

