// Цвета
$colors: (
        primary: #0070f3,
        secondary: #6c757d,
        success: #28a745,
        danger: #dc3545,
        warning: #ffc107,
        info: #17a2b8,
        light: #f8f9fa,
        dark: #343a40,
  //official
        red: #830104,
        red-hover: #B31619,
        black: #000,
        black40: rgba(0, 0, 0, 0.4),
        black60: rgba(0, 0, 0, 0.6),
        white: #fff,
        blue: #202133
);

// Переменные
$primary-color: #0070f3;
$secondary-color: #6c757d;
$background-color: #ffffff;
$text-color: #333333;


// Отступы
$spacing-unit: 1rem;
$spacing-sizes: (
        0: 0,
        1: $spacing-unit * 0.25,
        2: $spacing-unit * 0.5,
        3: $spacing-unit,
        4: $spacing-unit * 1.5,
        24: $spacing-unit * 1.5,
        30: $spacing-unit * 3,
        45: $spacing-unit * 4.5
);

// Брейкпоинты
$breakpoints: (
        mobile: 576px,
        tablet: 768px,
  //desktop: 992px,
        large: 1180px
);

// Типография
$font-sizes: (
        small: 0.875rem,
        base: 1rem,
        medium: 1.25rem,
        large: 2rem,
        xlarge: 3rem
);

$font-weights: (
        light: 300,
        regular: 400,
        medium: 500,
        sbold: 600,
        bold: 700
);

// Тени
$shadows: (
        small: 0 2px 4px rgba(0, 0, 0, 0.1),
        medium: 0 4px 6px rgba(0, 0, 0, 0.1),
        large: 0 10px 15px rgba(0, 0, 0, 0.1)
); 