:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 249, 250, 251;
  --container-width: 1440px;
}

/* Глобальные стили */
html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
