@import '@/styles/variables';
@import '@/styles/mixins';


.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;



  @include respond-to(tablet) {
    grid-template-columns: 1fr;
  }
}